


869193 - Spanish Gray (grey-blue)
B16880 - Rose Dust (rich-pink)
F0D6CC - Champagne Pink (woody-white)
1F222E - Raisin Black (navy-blue)
2C2B2A - Jet (dark-grey)



Karatina:
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Karantina:wght@300&display=swap" rel="stylesheet">

font-family: 'Karantina', cursive;


Quicksand:
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

font-family: 'Quicksand', sans-serif;


New Tegomin:
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">

font-family: 'New Tegomin', serif;