body {
	background-color: #C8D3D5;

}

p,h1,h3 {
	text-align: center;
}

h1 {
	font-family: 'New Tegomin', serif;
	font-size: 40px;
}

p {
	font-family: 'Quicksand', sans-serif;

}

h3 {
	font-family: 'Karantina', cursive;
	font-size: 40px;
	color: #B16880 ;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.heading {
	background-color: #B16880;
}